__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

venv/
.venv/
**/venv/

.env
**/.env

logs/
*.log

agents/report_agent/reports/*.pdf

.vscode/
.idea/

Thumbs.db
.DS_Store
task-definition.json
# Database backups
*.backup*.backup
